<header class="header">
    <img class="header--logo_img" src="./assets/images/logo.png" alt="Spotify logo">
    <nav class="header_menu">
        <img src="assets/images/menu-icon.png" alt="menu-icon" class="header_menu--profile">
        <ul class="header_menu--list">
            <li><a class="link">Premium</a></li>
            <li><a class="link">Ayuda</a></li>
            <li><a class="link">descargar</a></li>
            <li><a class="link">Resgistrarse</a></li>
            <li><a class="link">Iniciar sesión</a></li>
        </ul>
    </nav>
</header>