<section class="hero">
    <picture class="hero-contain">
        <img src="assets/images/premium_dancer.png" alt="premium dancer" class="hero-contain--img" />
    </picture>
    <article class="hero-article">
        <h1 class="hero-article--title">Prueba Premium gratis 3 meses</h1>
        <h2 class="hero-article--h2">Escucha millones de canciones sin anuncios, a la carta y sin
            conexión.</h2>
        <div class="hero-article_green">
            <button class="boton">
                <a>Ver Planes</a>
            </button>
        </div>
        <small class="hero-article--small">Rigen terminos y condiciones.Los 3 meses gratis no
            estan disponibles para usuarios que ya hayan
            probado
            premium</small>
        </>
</section>

<!--src="assets/images/premium_dancer.png" alt="premium dancer"-->