<main class="container">
    <section class="container-hero">
        <img src="assets/images/premium_dancer.png" alt="premium dancer" class="container-hero--img" />
        <h1 class="container-hero--title">Prueba Premium gratis 3 meses</h1>
        <h2 class="container-hero--h2">Escucha millones de canciones sin anuncios, a la carta y sin
            conexión.</h2>
        <div class="boton">
            <div class="div_green">
                <a>Ver Planes</a>
            </div>
        </div>
        <small class="container-hero--small">Rigen terminos y condiciones.Los 3 meses gratis no
            estan disponibles para usuarios que ya hayan
            probado
            premium</small>
    </section>
    <section class="container-white">
        <h2 class="container-white--h2">¿Por qué pasarte a premium?</h2>
        <article class="container-white--icon-div icon-div2">
            <img src="./assets/images/benefit-1.png" Alt="descarga música" class="icon-div2__icon">
            <div class="icon-div2__text">
                <h5>Descarga música</h5>
                <p>Llevala siempre contigo</p>
            </div>
        </article>
        <article class="container-white--icon-div icon-div2">
            <img src="./assets/images/benefit-2.png" Alt="Sin anuncios" class="icon-div2__icon">
            <div class="icon-div2__text">
                <h5>Sin anuncios</h5>
                <p>Disfruta música sin interrupciones.</p>
            </div>
        </article>
        <article class="container-white--icon-div icon-div2">
            <img src="./assets/images/benefit-3.png" Alt="Escucha lo que quieras" class="icon-div2__icon">
            <div class="icon-div2__text">
                <h5>Escucha lo que quieras</h5>
                <p>Incluso en el movil</p>
            </div>
        </article>
        <article class="container-white--icon-div icon-div2">
            <img src="./assets/images/benefit-4.png" Alt="Salta todas las canciones que quieras."
                class="icon-div2__icon">
            <div class="icon-div2__text">
                <h5>Salta todas las canciones que quieras</h5>
                <p>Simplemente dale a la siguiente.</p>
            </div>
        </article>
    </section>
</main>