<section class="white">
    <h2 class="white--h2">¿Por qué pasarte a premium?</h2>
    <article class="white--icon-div">
        <img src="./assets/images/benefit-1.png" Alt="descarga música" class="white--icon-div__img">
        <div class="white--icon-div__text">
            <h5 class="text-h5">Descarga música</h5>
            <p class="text-p">Llevala siempre contigo</p>
        </div>
    </article>
    <article class="white--icon-div">
        <img src="./assets/images/benefit-2.png" Alt="Sin anuncios" class="white--icon-div__img">
        <div class="white--icon-div__text">
            <h5 class="text-h5">Sin anuncios</h5>
            <p class="text-p">Disfruta música sin interrupciones.</p>
        </div>
    </article>
    <article class="white--icon-div icon-div2">
        <img src="./assets/images/benefit-3.png" Alt="Escucha lo que quieras" class="white--icon-div__img">
        <div class="white--icon-div__text">
            <h5 class="text-h5">Escucha lo que quieras</h5>
            <p class="text-p">Incluso en el movil</p>
        </div>
    </article>
    <article class="white--icon-div">
        <img src="./assets/images/benefit-4.png" Alt="Salta todas las canciones que quieras."
            class="white--icon-div__img">
        <div class="white--icon-div__text">
            <h5 class="text-h5">Salta todas las canciones que quieras</h5>
            <p class="text-p">Simplemente dale a la siguiente.</p>
        </div>
    </article>
</section>