.footer{
  background-color: $color-header-footer;
  color:white;
  width:100%;
  display:flex;
  justify-content: space-between;
  align-items: center;
  height: 150px;
  position:relative;
  top:90px;
  transform:translateY(50px);
  }
  .div-right{
      font-size: 0.5rem;
      display:flex;
      flex-direction: row;
      flex-wrap: wrap;
      width:120px;
      margin-right:5px;
      &-spain{
          width:60px;
      }
  }
  span{
  font-size: 0.8rem;
  width:90px;
  margin-top:10px;
  }
  .bandera{
      width:20px;
  }
  .nav-left{
      display:flex;
      flex-direction: row;
      width:150px;
      flex-wrap: wrap;
      @media (min-width:768px){
        width:300px;
    }
  }
  .nav_list{
      margin-left: 10px;
      padding-top:7px;
      font-size: 0.5rem;
      list-style-type: none;
      font-size: 0.8rem;
  }